@font-face {
  font-family: sans-serif;
  src: url(../../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/RobotoCondensed-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Roboto Condensed";
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto Condensed";
}

.container, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

.header {
  padding: 26px 0px;
  background: #0d0d0d;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header .header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-navbar .header__items {
  display: flex;
  gap: 48px;
}
.header .header-navbar .header__images img {
  width: 100%;
}
.header .header-navbar .header-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.8999999762;
}
@media (max-width: 900px) {
  .header .header-navbar .header-link {
    display: none;
  }
}
.header .header-navbar .header-link:hover {
  color: #fff5eb;
}
.header .header-navbar .nav-btn {
  padding: 20px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}
.header .header-navbar .nav-btn:hover {
  background: #f2c79b;
}
.header .header-navbar .nav-btn .nav-btn:hover {
  background: #f2c79b;
}
@media (max-width: 800px) {
  .header .header-navbar .nav-btn {
    display: none;
  }
}

.hamburger img {
  width: 100%;
}

#navbar-open {
  display: none;
}
@media (max-width: 900px) {
  #navbar-open {
    display: block;
    border: none;
    cursor: ponter;
  }
}

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  background-color: #f7f6ff;
}

.res-header-list {
  list-style-type: none;
}
.res-header-list .res-header-item {
  margin: 30px 0;
  text-align: center;
}
.res-header-list .res-header-item a {
  color: var(--unnamed, #333);
  font-family: Manrope;
}
.res-header-list .res-header-item a:hover {
  color: black;
}
.res-header-list .res-header-link {
  font-size: 30px;
}

#navbar-close {
  position: absolute;
  top: 41px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

footer {
  padding: 100px 0px;
  background: var(--bl, #161722);
}
footer .footer__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 900px) {
  footer .footer__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  footer .footer__items {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
  }
}
footer .footer__items .footer__part {
  color: #fff;
  margin-bottom: 32px;
  margin-top: 27px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
footer .footer__items .footer__text {
  margin-bottom: 15px;
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
footer .footer__items .footer__item a {
  display: inline-block;
  color: var(--white, #fff);
  font-size: 12px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
footer .footer__items .footer__images {
  display: flex;
  gap: 8px;
}
footer .footer__items .subscribe {
  color: var(--white, #fff);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 137.5% */
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
footer .footer__items .subscribe__btns {
  display: flex;
}
@media (max-width: 500px) {
  footer .footer__items .subscribe__btns {
    flex-wrap: wrap;
    gap: 30px;
  }
}
footer .footer__items .subscribe__btns .email {
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: var(--white, #fff);
  background: var(--bl, #161722);
  padding: 20px 100px 20px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer .footer__items .subscribe__btns .footer-btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}

.section-header {
  text-align: center;
}
.section-header h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section-header h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: -0.48px;
}

.container, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  margin: 80px 0;
}

.about-us {
  max-width: 100%;
  height: 419px;
  background-image: url(../../images/about-us/about-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.about-us .container div {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

h6 {
  font-size: 16px;
}

h2 {
  font-size: 48px;
  text-transform: uppercase;
}

h4 {
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  text-transform: uppercase;
}

.welcome {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.welcome .welcome-img {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
@media (max-width: 410px) {
  .welcome .welcome-img img {
    width: 270px;
    height: 400px;
  }
}
@media (max-width: 1100px) {
  .welcome .welcome-img {
    flex-direction: column;
  }
}
.welcome > p {
  max-width: 768px;
  color: var(--black, #161722);
  text-align: center;
  /* Paragraph */
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media (max-width: 400px) {
  .welcome {
    padding: 10px;
  }
}

.welcome-content {
  display: flex;
  gap: 24px;
  margin-top: 64px;
}
@media (max-width: 800px) {
  .welcome-content {
    flex-direction: column;
    row-gap: 40px;
  }
}

.left-content, .right-content {
  max-width: 372px;
  text-align: start;
  display: flex;
  row-gap: 16px;
  flex-direction: column;
}
.left-content p, .right-content p {
  color: var(--black, #161722);
  /* Paragraph */
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media (max-width: 400px) {
  .left-content, .right-content {
    max-width: 300px;
  }
}

.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.benefits-container div {
  margin-bottom: 96px;
}
.benefits-container h2 {
  max-width: 432px;
  margin-bottom: 64px;
}

.benefit1, .benefit2, .benefit3, .benefit4 {
  display: flex;
  align-items: center;
  gap: 24px;
}
.benefit1 .benefit1-right img, .benefit1 .benefit2-right img, .benefit1 .benefit3-right img, .benefit1 .benefit4-right img, .benefit2 .benefit1-right img, .benefit2 .benefit2-right img, .benefit2 .benefit3-right img, .benefit2 .benefit4-right img, .benefit3 .benefit1-right img, .benefit3 .benefit2-right img, .benefit3 .benefit3-right img, .benefit3 .benefit4-right img, .benefit4 .benefit1-right img, .benefit4 .benefit2-right img, .benefit4 .benefit3-right img, .benefit4 .benefit4-right img {
  width: 100%;
}
.benefit1 .benefit1-left, .benefit1 .benefit2-left, .benefit1 .benefit3-left, .benefit1 .benefit4-left, .benefit2 .benefit1-left, .benefit2 .benefit2-left, .benefit2 .benefit3-left, .benefit2 .benefit4-left, .benefit3 .benefit1-left, .benefit3 .benefit2-left, .benefit3 .benefit3-left, .benefit3 .benefit4-left, .benefit4 .benefit1-left, .benefit4 .benefit2-left, .benefit4 .benefit3-left, .benefit4 .benefit4-left {
  display: flex;
  max-width: 476px;
  flex-direction: column;
  row-gap: 16px;
  text-align: start;
}
.benefit1 .benefit1-left p, .benefit1 .benefit2-left p, .benefit1 .benefit3-left p, .benefit1 .benefit4-left p, .benefit2 .benefit1-left p, .benefit2 .benefit2-left p, .benefit2 .benefit3-left p, .benefit2 .benefit4-left p, .benefit3 .benefit1-left p, .benefit3 .benefit2-left p, .benefit3 .benefit3-left p, .benefit3 .benefit4-left p, .benefit4 .benefit1-left p, .benefit4 .benefit2-left p, .benefit4 .benefit3-left p, .benefit4 .benefit4-left p {
  color: var(--black, #161722);
  /* Paragraph */
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
@media (max-width: 1000px) {
  .benefit1, .benefit2, .benefit3, .benefit4 {
    flex-direction: column;
  }
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members-container p {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.all-members {
  display: flex;
  gap: 24px;
  margin-top: 64px;
}
.all-members div {
  display: flex;
  gap: 24px;
}
@media (max-width: 1400px) {
  .all-members div {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .all-members {
    flex-direction: column;
  }
}

.member {
  width: 302px;
  height: 366px;
  flex-shrink: 0;
  background: #F5F2F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  text-align: center;
}

@media (max-width: 410px) {
  h2 {
    font-size: 32px;
  }
}