<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.min.css" />
  </head>
  <body>
    <header class="header">
      <div class="container header-navbar">
        <div class="header__images">
          <img src="/images/header images/Logo.svg" alt="logo" />
          <div class="line"></div>
        </div>
        <ul class="header__items">
          <li class="header__item">
            <a href="#" class="header-link">Home</a>
          </li>
          <li class="header__item">
            <a href="#" class="header-link">About us</a>
          </li>
          <li class="header__item">
            <a href="#" class="header-link">Sermon</a>
          </li>
          <li class="header__item">
            <a href="#" class="header-link">Blog</a>
          </li>
        </ul>
        <button class="hamburger" id="navbar-open">
          <img
            class="img"
            src="/images/header images/Vector.svg"
            alt="Hamburger"
          />
        </button>
        <button class="nav-btn">Contact us</button>
      </div>
      <div id="navbar-responsive">
        <ul class="res-header-list">
          <li class="res-header-item">
            <a href="#home" class="res-header-link active">Home</a>
          </li>
          <li class="res-header-item">
            <a href="#about" class="res-header-link">About us</a>
          </li>
          <li class="res-header-item">
            <a href="#sermon" class="res-header-link">Sermon</a>
          </li>
          <li class="res-header-item">
            <a href="#blog" class="res-header-link">Blog</a>
          </li>

          <li class="res-header-item">
            <a href="#contact" class="res-header-link">Contact us</a>
          </li>
        </ul>

        <button id="navbar-close">
          <img src="/images/header images/close.svg" />
        </button>
      </div>
    </header>
    <script src="/JS/main.js"></script>
  </body>
</html>
