@use "../global";
@use "../components/upcoming-sermon";
@use "../components/sermon-card";
@use "../utils/variables" as var;
@use "../utils/mixins" as mxn;

#upcoming {
  padding-top: 200px;
  padding-bottom: 100px;
  background: var(--grey, #f5f2f0);

  .upcoming__parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 90px;
    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .upcoming__right img {
      width: 100%;
    }

    .upcoming__event {
      margin: 32px 0px 16px;
      color: var.$c2;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.96px;
      text-transform: uppercase;
    }
    .upcoming__header {
      color: var(--black, #161722);
      font-size: 38px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: -0.48px;
      text-transform: uppercase;
    }
    .upciming__text {
      margin: 16px 0px 32px;
      color: var(--black, #161722);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .upcoming-line {
      display: flex;
      gap: 20px;
      @media (max-width: 500px) {
        display: none;
      }
      .line {
        width: 2.464px;
        height: 120px;
        border: 2px solid var.$c2;
        @media (max-width: 500px) {
          display: none;
        }
      }

      .upcoming__lorem {
        color: var(--black, #161722);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
    .upcoming__last {
      margin-top: 30px;
      color: var(--black, #161722);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .register {
      background-color: #f7f8fa;
      padding: 40px 0px 40px 40px;
      .register__session {
        display: flex;
        gap: 15px;
        margin-top: 32px;
        @media (max-width: 500px) {
          flex-direction: column;
        }
        .register__left {
          display: flex;
          align-items: center;
          gap: 18px;
        }
      }
      .register__name {
        margin-top: 32px;
        color: #232536;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
      }
      .line1 {
        margin-top: 8px;
        width: 412px;
        height: 1px;
        opacity: 0.20000000298023224;
        border: 1px solid #232536;
        @media (max-width: 500px) {
          width: 300px;
        }
        @media (max-width: 400px) {
          width: 200px;
        }
      }

      .register__fullname {
        margin-top: 12px;
        color: var(--b, #1d2130);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
      .upc__btn {
        @include mxn.btn;
        margin-top: 40px;
        @media (max-width: 300px) {
          padding: 10px 20px;
        }
      }
    }
  }
}
#sermons {
  padding: 100px 0px;
  background: var(--grey, #f5f2f0);
  .sermons__header {
    color: var(--black, #161722);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }
  .sermons__cards {
    margin-top: 64px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .sermons__card {
      padding: 24px 27px 50px 40px;
      background: var(--white, #fff);
      .sermon__text {
        text-align: right;
        .sermon__num {
          color: var(--black, #161722);
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.24px;
          text-transform: uppercase;
        }
        .sermon__date {
          color: var(--black, #161722);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
        }
      }
      .sermon__event {
        margin: 10px 0px;
        color: var.$c2;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.96px;
        text-transform: uppercase;
      }
      .sermon__random {
        margin-bottom: 16px;
        color: var(--black, #161722);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.24px;
        text-transform: uppercase;
      }
      .sermon__lor {
        margin-bottom: 32px;
        margin-top: 16px;
        color: var(--black, #161722);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      .sermon__left {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
        .sermon__icon {
          color: var(--black, #161722);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
  .line__3 {
    width: 305px;
    height: 16px;
    background: #ffd0a0;
    @media (max-width: 1000px) {
      display: none;
    }
  }
}
